<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Warehouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><h3>Get all clients <a href="/clients">here</a></h3></p>
<p><h3>Get all products <a href="/products">here</a></h3></p>
<p><h3>Get all purchases <a href="/purchases">here</a></h3></p>
<p><h3>Get warehouse info <a href="/warehouse">here</a></h3></p>

</body>
</html>