<!DOCTYPE HTML>
<head>
    <title>WareHouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div><b>Warehouse has products:</b></div>
{{#warehouse}}
    <div>
        <span>{{id}} | </span>
        <span>{{prod_id}} | </span>
        <span>{{amount}}</span>
    </div>
{{/warehouse}}

</body>
</html>