<!DOCTYPE HTML>
<head>
    <title>WareHouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div><b>Purchases list:</b></div>
{{#purchases}}
    <div>
        <span>{{cl_id}} | </span>
        <span>{{prod_id}} | </span>
        <span>{{amount}}</span>
    </div>
{{/purchases}}

</body>
</html>