<!DOCTYPE HTML>
<head>
    <title>WareHouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div><b><h2>Purchases list:</h2></b></div>
<table>
    <tr>
        <th>cl_id</th>
        <th>prod_id</th>
        <th>amount</th>
    </tr>
    {{#purchases}}
        <tr>
            <td>{{cl_id}}</td>
            <td>{{prod_id}}</td>
            <td>{{amount}}</td>
        </tr>
    {{/purchases}}
</table>
</body>
</html>